.git
.github
.gitignore
.python-version
.venv
__pycache__
*.pyc
*.pyo
*.pyd
.pytest_cache
.coverage
htmlcov
dist
build
*.egg-info
.DS_Store
node_modules
.env
.env.local
README.md
.editorconfig
.vscode
.idea
*.log
